[mysqld]

secure-file-priv= NULL
 
# Disabling symbolic-links is recommended to prevent assorted security risks 安全问题
symbolic-links=0

# 最大连接数 
max_connections=1000
# 0:区分大小写
# 1:不区分大小写
lower_case_table_names=1

# 服务器唯一ID，默认是1
server-id=10
# 启用二进制日志
log-bin=mysql-bin
binlog_format=mixed # 最小的binlog
binlog-do-db=test # 这里是需要同步的数据库